<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>DarkView/404</title>
</head>
<body class="column center small">
<div th:replace="darkview/front-end/pages/fragments :: header"></div>

<main class="not-found-main flex center">
    <h1>404</h1>
    <div class="right-side-404 column center">
        <h2><b>Страницы не существует</b></h2>
        <p>Проверьте, верно ли введен адрес или перейдите на главную страницу.</p>
        <button type="button" class="button-huge" id="404">ГЛАВНАЯ СТРАНИЦА</button>
    </div>
</main>
<script src="../scripts/404.js"></script>
<div th:replace="darkview/front-end/pages/fragments :: footer"></div>
</body>
</html>