<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../src/icons/eye.png">
    <title>DarkView/Login</title>
</head>
<body class="column center small">
    <div th:replace="darkview/front-end/pages/fragments :: header"></div>
    <script src="../scripts/popupMessage.js"></script>
    <script  th:inline="javascript">
        let index = window.location.href.indexOf('error=');
        if (index > 0){
            var popup = new PopupMessage();
            popup.show(
                decodeURIComponent(window.location.href.substring(index + 6, window.location.href.length))
                .replaceAll('+',' ')
                );
        }
    </script>
    <section class="column center">
        <form action="/app_login" method="post" id="register-form" class="flex">
            <div class="left--fields">
                <div class="small-input">
                    <label for="login"><h6>Введите имя</h6></label>
                    <input type="text" name="login" class="register-input" required="true">
                </div>
                <div class="small-input">
                    <label for="password"><h6>Введите пароль</h6></label>
                    <input type="password" name="password" class="register-input" required="true">
                </div>
                <button type="submit" class="button-huge">Войти</button>
            </div>
        </form>

        
    </section>
    <div th:replace="darkview/front-end/pages/fragments :: footer"></div>
</body>
</html>