<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>DarkView/Params</title>
</head>
<body class="column center">
    
    <div th:replace="darkview/front-end/pages/fragments :: header"></div>

    <main class="column center">
        <form method="POST" action="/task" modelAttribute="task" class="settings column center">
        <section class="settings--top flex" id="settings-top">
            <input type="text" name="url" class="link--input" placeholder="Адрес вашего сайта">
            <input type="text" name="resolution" id="widthSpan" style="visibility:hidden; width:0px; "/>
        </section>

        <section class="settings column center">
            <div class="browser--settings-wrapper">
                <h6><b>Выберите браузеры</b></h6>
                <div class="backboard-big">
                    <!-- WINDOWS -->
                    <div class="render-card os-card">
                        <div class="render-card--top">
                            <img src="../src/icons/systems/WIN.png"/>
                            <h5> WINDOWS </h5>
                        </div>
                        <div class="render-card--select-browser">
                            <label class="render-chkbx" id="win-edge" th:if='${applicationNames!=null && applicationNames.contains("WIN_EDGE")}'>
                                <input id="win-edge-input" type="checkbox" name="winEdge">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> EDGE </div>
                            </label>
                            <label class="render-chkbx" id="win-firefox" th:if='${applicationNames!=null && applicationNames.contains("WIN_FIREFOX")}'>
                                <input id="win-firefox-input" type="checkbox" name="winFirefox" >
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> FIREFOX </div>
                            </label>
                            <label class="render-chkbx" id="win-chrome" th:if='${applicationNames!=null && applicationNames.contains("WIN_CHROME")}'>
                                <input id="win-chrome-input" type="checkbox" name="winChrome">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> CHROME </div>
                            </label>
                            <label class="render-chkbx" id="win-opera"  th:if='${applicationNames!=null && applicationNames.contains("WIN_OPERA")}'>
                                <input id="win-opera-input" type="checkbox" name="winOpera">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> OPERA </div>
                            </label>
                        </div>
                    </div>
                    <!-- LINUX -->
                    <div class="render-card os-card">
                        <div class="render-card--top">
                            <img src="../src/icons/systems/LIN.png"/>
                            <h5> LINUX </h5>
                        </div>
                        <div class="render-card--select-browser">
                            <label class="render-chkbx" id="lin-firefox" th:if='${applicationNames!=null && applicationNames.contains("LIN_FIREFOX")}'>
                                <input id="lin-firefox-input" type="checkbox" name="linFirefox">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> FIREFOX </div>
                            </label>
                            <label class="render-chkbx" id="lin-chrome" th:if='${applicationNames!=null && applicationNames.contains("LIN_CHROME")}'>
                                <input id="lin-chrome-input" type="checkbox" name="linChrome">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> CHROME </div>
                            </label>
                            <label class="render-chkbx" id="lin-opera" th:if='${applicationNames!=null && applicationNames.contains("LIN_OPERA")}'>
                                <input id="lin-opera-input" type="checkbox" name="linOpera">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> OPERA </div>
                            </label>
                        </div>
                    </div>
                    <!-- MacOS -->
                    <div class="render-card os-card">
                        <div class="render-card--top">
                            <img src="../src/icons/systems/MAC.png"/>
                            <h5> MacOS </h5>
                        </div>
                        <div class="render-card--select-browser">
                            <label class="render-chkbx" id="mac-safari" th:if='${applicationNames!=null && applicationNames.contains("MAC_SAFARI")}'>
                                <input id="mac-safari-input" type="checkbox" name="macSafari">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> safari </div>
                            </label>
                        </div>
                        <div class="render-card--select-browser">
                            <label class="render-chkbx" id="mac-firefox" th:if='${applicationNames!=null && applicationNames.contains("MAC_FIREFOX")}'>
                                <input id="mac-firefox-input" type="checkbox" name="macFirefox">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> safari </div>
                            </label>
                        </div>

                    </div>
                    <!-- iOS -->
                    <div class="render-card os-card">
                        <div class="render-card--top">
                            <img src="../src/icons/systems/IOS.png"/>
                            <h5> iOS </h5>
                            <div class="container-info">
                                <img src="../src/icons/info.svg" class="img-info">
                                <div class="popup-info-msg" id="popup-info-msg-2"> Ширину выбрать нельзя - она фиксирована</div>
                            </div>
                        </div>
                        <div class="render-card--select-browser">
                            <label class="render-chkbx" id="ios-safari" th:if='${applicationNames!=null && applicationNames.contains("IOS_IPHONEPRO")}'>
                                <input id="ios-safari-input" type="checkbox" name="iosIPHONE_PRO">
                                <div class="chkbx-mark"></div>
                                <div class="chkbx-txt"> safari </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="button-huge">Создать Скриншот</button>
        </section>
        </form>
    </main>

    <div th:replace="darkview/front-end/pages/fragments :: footer"></div>
    <script src="../scripts/dropDownHadle.js"></script>
</body>
</html>