<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="../src/icons/eye.png">
    <title>DarkView/Profile</title>
</head>
<body class="column center small">
    <div th:replace="darkview/front-end/pages/fragments :: header"></div>

    <!--<section class="subscription--offer">
        <h6>На данный момент у вас версия FREE. Чтобы получить доступ ко всем функциям, необходимо приобрести версию PRO.</h6>
        <button type="button" class="button-huge">Приобрести версию PRO за 300 руб/месяц</button>
    </section>-->

    <section class="done-tasks">
        <h2><b>Выполненные задачи</b></h2>
        <div class="task-grid">
            <div class="task-details">
                <div class="task-details--line">
                    <p>АДРЕС</p>
                    <div class="task--right">
                        <div class="flex">
                            <p>ВРЕМЯ</p>
                            <p>ШИРИНА</p>
                        </div>
                        <p>ССЫЛКА</p>
                    </div>
                </div>
            </div>

            <div class="task--container">
                <div class="task" th:each="task : ${taskList}">
                    <p th:text="${task.getUrl()}">www.example.com</p>
                    <div class="task--right" >
                        <p th:text="${task.getCreateTime()}">99:99</p>
                        <p th:text="${task.getResolution() == null ? '' : task.getResolution().name()}">2560px</p>
                        <a th:href="@{/task/{taskId}(taskId=${task.getUuid()})}" target="_blank" href="#">Посмотреть результат</a>
                    </div>
                </div>
            </div>


            <div class="tasks--accordion">
                <input type="checkbox" name="tasks--accordion" id="tasks-ac-cb1">
                <label for="tasks-ac-cb1">
                    <div class="open-list flex show-more-tasks">
                        <h6>Показать историю задач</h6>
                        <img src="../src/icons/triangle.svg" alt=">">
                    </div>
                </label>
                <div class="task--container">
                    <div class="task">
                        <p>www.example.com</p>
                        <div class="task--right">
                            <p>99:99</p>
                            <p>2560px</p>
                            <a href="#">Посмотреть результат</a>
                        </div>
                    </div>
                    <div class="task">
                        <p>www.example.com</p>
                        <div class="task--right">
                            <p>99:99</p>
                            <p>2560px</p>
                            <a href="#">Посмотреть результат</a>
                        </div>
                    </div>
                    <div class="task">
                        <p>www.example.com</p>
                        <div class="task--right">
                            <p>99:99</p>
                            <p>2560px</p>
                            <a href="#">Посмотреть результат</a>
                        </div>
                    </div>
                    <div class="task">
                        <p>www.example.com</p>
                        <div class="task--right">
                            <p>99:99</p>
                            <p>2560px</p>
                            <a href="#">Посмотреть результат</a>
                        </div>
                    </div>
                    <div class="task">
                        <p>www.example.com</p>
                        <div class="task--right">
                            <p>99:99</p>
                            <p>2560px</p>
                            <a href="#">Посмотреть результат</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash"></div>
    </section>
    
    <section class="profile-options">
        <h2><b>Управление профилем</b></h2>
        <div class="profile-options--container">
            <!--<div class="profile-option">
                <button type="button" class="button-huge">Редактировать профиль</button>
                <p>Даёт возможность изменить имя, e-mail и пароль.</p>
            </div>
            <div class="profile-option">
                <button type="button" class="button-huge button-red">Удалить аккаунт</button>
                <p>Удаляет текущий аккаунт</p>
            </div>-->
            <div class="profile-option">
                <button type="button" class="button-huge button-red" onclick = "window.location = 'logout';">Выйти из аккаунта</button>
                <p>Выход из текущего аккаунта</p>
            </div>
        </div>
    </section>

    <div th:replace="darkview/front-end/pages/fragments :: footer"></div>
</body>
</html>