<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Ошибка верификации e-mail</title>
</head>
<body class="column center small">
    <div th:replace="darkview/front-end/pages/fragments :: header"></div>
    <main>
        <section class="document--full">
            <h1>Ваш e-mail подтвержден!</h1>
            <br>
            <p>Теперь вы можете войти, используя свой логин и пароль</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
    </main>
    <div th:replace="darkview/front-end/pages/fragments :: footer"></div>
</body>
</html>