.animation--card-state > img{
    animation: animation--card-state 2s linear infinite;
}

@keyframes animation--card-state {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}